<% layout("/layouts/boilerplate") -%>
<body>
  <h3>All Listings :</h3>
  <ul>
    <%for (let listing of listings) { %>
    <li>
      <a
        style="color: blue; text-decoration: none"
        href="/listing/<%= listing._id %>"
        ><%= listing.title %></a
      >
    </li>
    <%}%>
  </ul>
</body>
