/* footer---------------------------------------> */
.navbar {
  height: 5rem;
  background-color: #fff;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  background-color: #ebebeb;
  display: flex;
  height: 8rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}

/* index ---------------------------------------> */
.card {
  border: none !important;
  margin-bottom: 1.5rem;
  width: 100% !important;
}

.card-img-top {
  border-radius: 0.8rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-text {
  font-weight: 400 !important;
}

.listing_link {
  text-decoration: none !important;
}

/* card effect---------------------------------------> */
.card-img-overlay {
  background-color: #fff;
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
}

/* New  ---------------------------------------> */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}
