<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <div class="col-6 offset-3">
    <h1>Signup in wanderlust</h1>
    <form action="/signup" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          id="username"
          type="text"
          placeholder="username"
          class="form-control"
          required
        />
        <label for="email" class="form-label">email</label>
        <input
          name="email"
          id="email"
          type="email"
          placeholder="email"
          class="form-control"
          required
        />
        <label for="password" class="form-label">password</label>
        <input
          name="password"
          id="password"
          type="password"
          placeholder="password"
          class="form-control"
          required
        />

        <button class="btn btn-outline-dark mt-3">Signup</button>
      </div>
    </form>
  </div>
</div>
